{% extends "website/base.html" %}

{% block main %}
    <section>
    <h2 style="text-align: left;margin-left: 10px; border-bottom: 5px solid rgb(248, 209, 103);">QUIZZ CULINARIA</h2>
      <form action="" method="POST">
        <fieldset  style="text-align: left;">
          <legend><b>Perguntas:</b></legend>
              {% csrf_token %}
              {{ form.as_p }}
        <input type="submit" value="Gravar" class="btn btn-success" >
        </fieldset>
       </form>
    </section>
{% endblock %}