{% extends "website/base.html" %}

{% block main %}
        <h4 class="block-title"><span style="background-color: rgb(248, 209, 103); padding: 3px;">Pratos de Carne</span>
        </h4>

        <section class="video">
          <iframe width="100%" height="300px" src="https://www.youtube.com/embed/QPgO6LD7rtQ" title="YouTube video player" frameborder="0" 
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"  name="video" allowfullscreen></iframe>
            <a href="https://www.youtube.com/embed/QPgO6LD7rtQ" target="video"
              style="text-decoration: none;color: black;"><button title="Carnes Tutorial">1</button></a>
            <a href="https://www.youtube.com/embed/BpnOfHuD_hM" width="560" height="315" src="https://www.youtube.com/embed/BpnOfHuD_hM" title="YouTube video player" frameborder="0"
             allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
             allowfullscreen target="video" style="text-decoration: none;color: black;"><button title="Pernas de Frango">2</button></a>
            <a href="https://www.youtube.com/embed/I4UfffnuaRY" width="560" height="315" src="https://www.youtube.com/embed/I4UfffnuaRY" title="YouTube video player" frameborder="0"
             allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
             allowfullscreen target="video" style="text-decoration: none;color: black;"><button title="Presunto de Pato">3</button></a>
        </section>


        <br>
        <h4 class="block-title"><span style="background-color: rgb(248, 209, 103); padding: 3px;">Pratos de Peixe</span>
        </h4>
        <section class="video">
          <iframe width="100%" height="300px" src="https://www.youtube.com/embed/pdfyKJQS-cM" title="YouTube video player" frameborder="0" allow="accelerometer; 
          autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen name="video1"></iframe>
            <a href="https://www.youtube.com/embed/pdfyKJQS-cM" target="video1"
              style="text-decoration: none;color: black;"><button title="Peixe Tutorial">1</button></a>
            <a href="https://www.youtube.com/embed/cwUajKqP-bs" width="560" height="315"
             src="https://www.youtube.com/embed/cwUajKqP-bs" title="YouTube video player" frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write;encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen target="video1" style="text-decoration: none;color: black;"><button title="Massada de Peixe">2</button></a>
            <a href="https://www.youtube.com/embed/obYHtdFbpnQ" width="560" height="315"
            src="https://www.youtube.com/embed/obYHtdFbpnQ" title="YouTube video player" frameborder="0" allow="accelerometer;
            autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen target="video1" style="text-decoration: none;color: black;"><button title="Robalo Harissa">3</button></a>
        </section>

        <br>
        <h4 class="block-title"><span style="background-color: rgb(248, 209, 103); padding: 3px;">Doces e Sobremesas</span>
        </h4>
        <section class="video">
          <iframe width="100%" height="300px" src="https://www.youtube.com/embed/qkvCsJqdpb0" title="YouTube video player" frameborder="0" 
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
          allowfullscreen name="video2"></iframe>
            <a href="https://www.youtube.com/embed/qkvCsJqdpb0" target="video2"
              style="text-decoration: none;color: black;"><button title="Pastelaria Tutorial">1</button></a>
            <a href="https://www.youtube.com/embed/oVbFnyrag54" width="560" height="315"
            src="https://www.youtube.com/embed/oVbFnyrag54" title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
          allowfullscreen target="video2" style="text-decoration: none;color: black;"><button title="Leite-Creme">2</button></a>
              <a href="https://www.youtube.com/embed/_fPLULmeLHo" width="560" height="315" src="https://www.youtube.com/embed/_fPLULmeLHo" title="YouTube video player" frameborder="0"
               allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
               allowfullscreen target="video2" style="text-decoration: none;color: black;"><button title="Eclairs de Chocolate">3</button></a>
        </section>
 {% endblock %}